* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

:root[data-color='light'] {
    --back: #eeeeee;
    --back-2: #f9f9f9;
    --white:#fff;
    --text: #555;
}


:root[data-color='dark'] {
    --back: #111111;
    --back-2: #202020;
    --text: #555;
    --white:#fff;
}

:root.orange {
    --primary:#ff651c;
}

:root.purple {
    --primary: #8315e7;
}

:root.red {
    --primary: red;
}

:root.violet {
    --primary: #ee82ee;
}

:root.blue {
    --primary: blue;
}

:root.gold {
    --primary: gold;
}

:root.magenta {
    --primary: magenta;
}

:root.green {
    --primary: #95cb28;
}

.hidden {
    display: none !important;
}

.root {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--back);
}

.back {
    width: 800px;
    height: 310%;
    background-color: var(--primary);
    transform: rotate(32deg) translateX(-119%);
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
}

@media (max-width:567px) {
    .back {
        transform: rotate(25deg) translateX(-126%);
    }
}

/* nav bar */
.nav-bar {
    position: fixed;
    right: 0;
    top: 10%;
    bottom: 10%;
    width: 60px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--back-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-icon {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 25px;
    color: var(--text);
    cursor: pointer;
    transition: 0.5s ease;
    padding: 15px;
    border: 10px solid #00000000;
    border-radius: 50%;
}

.nav-icon span {
    position: absolute;
    left: -104px;
    top: 50%;
    min-width: 93px;
    text-align: center;
    transform: translateY(-50%) translateX(100px);
    background-color: var(--primary);
    color: var(--white);
    padding: 8px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
}

.nav-icon span::before {
    content: ' ';
    position: absolute;
    right: -1px;
    top: 45%;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    transform: rotate(45deg) translateY(-50%);
    background-color: var(--primary);
}

.nav-icon:hover span {
    transform: translateY(-50%) translateX(0);
    opacity: 1;
}

.nav-icon.active {
    color: var(--primary);
    border-color: var(--back);
    background-color: var(--white);
    transform: translateX(-30px);
}

:root[data-color='dark'] .nav-icon.active {
    background-color: #1d1e1e;
}


@media (max-width:567px) {
    .nav-bar {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 70px;
        padding: 20px;
        bottom: 0;
        top: initial;
        border-radius: initial;
    }

    .nav-icon:hover span {
        opacity: 0;
    }

    .nav-icon.active {
        transform: translateY(-35px);
    }
}

/* setting */
.page-setting {
    position: fixed;
    top: 150px;
    background-color: rgba(0,0,0,.75);
    color: var(--white);
    min-width: 170px;
    padding: 20px 10px;
    font-size: 17px;
    border-bottom-right-radius: 5px;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.3s ease;
}

.page-setting.active {
    transform: translateX(0);
}

.set-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--white);
    background-color: rgba(0,0,0,.75);
    cursor: pointer;
    font-size: 19px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.set-title {
    padding-bottom: 3px;
    margin-bottom: 15px;
    border-bottom: 2px solid;
}

.colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 15px;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.light-icon, .light-icon > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-icon > div {
    background-color: var(--primary);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

/* tabs */
.tabs-container {
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: 100px;
    left: 10%;
    background-color: var(--back-2);
    box-shadow: 0 0 20px rgb(0 0 0 / 8%);
    border-radius: 10px;
}

@media (max-width:567px) {
    .tabs-container {
        top: 20px;
        right: 20px;
        left: 20px;
        bottom: 110px;
    }
}

@media (min-width:1000px) {
    .tabs-container {
        right: 10%;
    }
}

